body{
    /* background: lightblue;
    text-align: center; */
    overflow: hidden;
}
.wrapper{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
img{
    /* transform: translate(200px,200px); moves elm to left,right,top,bottom as the case may be */
    /* transform: scale(3,2); stretches or shrinks the elmt to the X, Y,etc axis as the case may be */
    /* transform: rotate(-180deg); */
    /* transform: rotate(90deg) scale(2) translate(100px,100px); */
}

.circle{
    width: 100px;
    padding: 50px 0;
    line-height: 0;
    margin: 60px auto;
    border-radius: 50px;
    background: pink;
    color: white;
    text-align: center;
    cursor: pointer;
    /* transition: background 2s, transform 0.3s; apply diff ttransition to diff property */
    transition: 1s;
    /* transition: background 1s, transform 1s 1s ease-in; transition on diff properties with delay of 1s with speed (ease-in,ease-out,linear,etc) */
}
.circle:hover{
    background: salmon;
    transform: rotate(360deg);
}
.sky,.grass,.road{
    position: relative;
}
.sky{
    background: lightblue;
    height: 250px;
}
.grass{
    background: seagreen;
    height: 150px;
}
.road{
    background: dimgrey;
    height: 200px;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    box-sizing: border-box;
}
.lines{
    text-align: center;
    box-sizing: border-box;
    border: 5px dashed;
    width: 100%;
    height: 0px;
    color: white;
    position: absolute;
    top: 45%;
}

/* elements to animate */
.ichami{
    position: absolute;
    top: -20px;
    left: 0px;
    animation-name: drive;
    animation-duration: 3s;
    animation-fill-mode: both;
    /* animation-delay: 2s; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.brandon{
    position: absolute;
    top: 80px;
    left: 0px;
    animation-name: drive;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
}

/* keyframes */
@keyframes drive{
    from{transform: translateX(-200px);}
    to{transform: translateX(100vw);}
}